<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccbfm.music.player">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_music_player"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.StartActivity"
            android:theme="@style/StartActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MusicActivity"
            android:launchMode="singleTask"
            android:theme="@style/MusicActivityTheme" />
        <activity
            android:name=".ui.activity.SelectFolderActivity"
            android:theme="@style/MusicActivityTheme" />

        <activity
            android:name=".ui.activity.CreatePlaylistActivity"
            android:theme="@style/MusicActivityTheme" />

        <activity
            android:name=".ui.activity.BlacklistActivity"
            android:theme="@style/MusicActivityTheme" />

        <service
            android:name=".service.MusicService"
            android:exported="true"
            android:permission="@string/music_service_permission"
            android:process=":player.service">
            <intent-filter>
                <action android:name="ccbfm.music.player.service" />
            </intent-filter>
        </service>

        <service
            android:name=".service.LocalService"
            android:exported="true" />

    </application>

    <permission
        android:name="permission.ccbfm.music.player.service"
        android:permissionGroup="permission.ccbfm.music.player"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="permission.ccbfm.music.player.service" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>